body {
	background-color: #C7F1FF;
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

div {
	border: 5px solid black;
	border-radius: 20px;
	margin: 10px;
	text-align: center;
	padding: 10px;
}

div div {
	border: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.left, .right {
	width: 45%;
	height: 200px;
}

.below {
	clear: both;
}

#header {
	height: 100px;
}

.full-page {
	background-color: #93E4FF;
	min-height: 50px;
}

#footer {
	height: 50px;
}

#header, #footer {
	background-color: #66D7FD;
}

#winter {
	background-color: #D6D6D6;
}

#spring {
	background-color: #54CC14;
}

#summer {
	background-color: #FFFC19;
}

#autumn {
	background-color: #CC4A14;
}

h1 {
	margin: 10px;
	font-size: 80px;
}

h3 {
	font-size: 2.5em;
}

p {
	font-size: 1.5em;
	margin-right: 10px;
	margin-left: 10px;
}