.seasonsbig {
    border: 5px solid #333447;
    border-radius: 20px;
    margin: 0;
}

.seasonssmall {
    border-radius: 10px;
    box-shadow: 0 0 0 3px #333447;
}

.normalback {
    background-color: #C7F1FF;
}

.dark-blue {
    background-color: #66D7FD;
}

.winter {
    background-color: #D6D6D6;
}

.spring {
	background-color: #54CC14;
}

.summer {
	background-color: #FFFC19;
}

.autumn {
	background-color: #CC4A14;
}

.indent {
	text-indent: 3em;
    margin: 0;
    padding: 0;
    border: none;
}

.center {
    text-align: center;
}

.winter:hover {
    background-color: #AAAAAA;
}

.spring:hover {
    background-color: #3DA108;
}

.summer:hover {
    background-color: #D3D000;
}

.autumn:hover {
    background-color: #A73504; 
}

/*Winter page*/
body.winterback {
    background-color: #D6D6D6;
}

.darkwinter {
    background-color: #AAAAAA;
}

.lightwinter {
    background-color: #FFFFFF;
}

.winterhomelink {
    background-color: #AAAAAA;
}

.winterhomelink:hover {
    background-color: #7D7C7C;
}

/*Spring page*/
body.springback {
    background-color: #54CC14;
}

.darkspring {
    background-color: #3DA108;
}

.lightspring {
    background-color: #73D53E;
}

.springhomelink {
    background-color: #3DA108;
}

.springhomelink:hover {
    background-color: #2C7E00;
}

/*Autumn page*/
body.autumnback {
    background-color: #CC4A14;
}

.darkautumn {
    background-color: #A73504;
}

.lightautumn {
    background-color: #E86E3A;
}

.autumnhomelink {
    background-color: #A73504;
}

.autumnhomelink:hover {
    background-color: #7E2600;
}