#flag {
    display: inline;
    margin: 0px;
    padding: 0px;
    border: none;
}

#flag-img {
    width: 25%;
    float: left;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: none;
}